/*
light blue: #85cadd
blue: #29abe2
yellow: #fbbb21
red: #c1272d
green: #00a99d
violet: #5854ae
grey: #4a4a49
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
}


body {
    background-color: #85cadd;
}

.container {
    position: absolute;
    bottom: 150px;
    left: 300px;
}

.container div {
    float: left;
}

.drzewo {
    width: 60px;
    height: 100px;
    position: relative;
}

.pien {
    width: 15px;
    height: 30px;
    background-color: #4a4a49;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)
}

.korona {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 4px solid #4a4a49;
    background-color: #00a99d;
}

.korona.right {
    position: absolute;
    right: -2px;
    bottom: 18px;
}

.korona.left {
    position: absolute;
    left: 0;
    bottom: 18px;
}

.korona.top {
    position: absolute;
    left: 15px;
    bottom: 36px;
}

.drzewo.pierwsze {
    left: 100px;
}

.drzewo.drugie {
    left: 500px;
}

.drzewo.trzecie {
    left: 920px;
}

.blok {
    background-color: lightgray;
    border: 4px solid #4a4a49;
}

.wiezowiec {
    width: 90px;
    height: 330px;
    position: absolute;
    left: 650px;
    bottom: 0;
}

.okna {
    margin-bottom: 40px;
    margin-top: 10px;
}

.okno {
    background-color: #5854ae;
    border: 4px solid #4a4a49;
    width: 22px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
    clear: both;
}

.palac {
        width: 280px;
        height: 340px;
        position: absolute;
        left: 760px;
        bottom: 0;
}
.palac.jeden {
    width: 270px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0;
}
.palac.drzwi {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 120px;
    bottom: -3px;
    background-color:floralwhite;
}

.palac.dwa {
    width: 180px;
    height: 70px;
    position: absolute;
    left: 45px;
    bottom: 38px;
    border-bottom: none;
}

.palac.trzy {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 85px;
    bottom: 112px;
    border-bottom: none;
}

.palac.cztery {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 85px;
    bottom: 195px;
    border-bottom: none;
}
.palac.piec {
    width: 30px;
    height: 40px;
    position: absolute;
    left: 120px;
    bottom: 229px;
    border-bottom: none;
}

.palac.szesc {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 127px;
    bottom: 273px;
    border-bottom: none;
}

.palac.siedem {
    width: 5px;
    height: 13px;
    position: absolute;
    left: 132px;
    bottom: 292px;
    border-bottom: none;
}

.palac.osiem {
    width: 1px;
    height: 25px;
    position: absolute;
    left: 136px;
    bottom: 309px;
    border-bottom: none;
    background-color: #4a4a49;
    border: 2px solid #4a4a49;
}
